#map {
    height: 100%;
    width: 80%;
}

html,
body {
    height: 100%;
    margin: 0%;
    padding: 0%;
}

#map_zone {
    position: relative;
    width: 100%;
    height: 80%;
}

#points_list {
    position: absolute;
    width: 20%;
    height: 100%;
    margin: 0%;
    top: 0%;
    right: 0%;
    border: 1px solid black;
}

#form_zone {
    position: relative;
    height: 8%;
}

#lat_lng {
    position: absolute;
    height: 100%;
    width: 50%;
}

#json {
    position: absolute;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    width: 50%;
    right: 0%;
}

#json_label {
    line-height: 100%;
    vertical-align: middle;
    display: inline-block;
}
